body {
    margin: 0;
    background-color: black;
}

#headerbar {
    padding: 0 20px;
    box-sizing: border-box;
}

#headerwrap {
    height: 60px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#usericon {
    display: block;
    background-color: rgb(77, 77, 77);
    width: 36px;
    height: 36px;

    border-radius: 100%;
    overflow: hidden;

    cursor: pointer;
}

#headertitle {
    color: rgb(215, 215, 215);
    font-family: Impact;
    font-size: 2em;

    display: inline-block;
    height: fit-content;

    cursor: default;
}

#headertitle span {
    color: rgb(186, 37, 231);
}

#loginpage {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    box-sizing: border-box;

    height: calc(100% - 60px);

    display: flex;
    justify-content: center;
    align-items: center;
}

#loginwrap {
    height: fit-content;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#loginpage h1 {
    margin: 0;
    padding: 0;

    color: rgb(165, 165, 165);
    font-size: 1em;
    font-family: sans-serif;
    font-weight: no;
    margin-bottom: 15px;
}

#loginlogo {
    color: rgba(215, 215, 215, 0.7);
    font-family: Impact;
    font-size: 5em;
    display: block;
    text-align: center;

    transform: skew(-5deg);

    opacity: 1;

    margin-bottom: 70px;
}

#loginlogo span {
    color: rgb(186, 37, 231);
}

#loginpage form {
    background-color: rgb(41, 41, 41);
    padding: 20px;

    border-radius: 4px;
}

#loginpage form a {
    font-family: sans-serif;
    font-size: 1em;
    color: rgb(102, 102, 102);

    text-align: center;
    width: 100%;
    display: block;

    margin-top: 25px;
}

.textbar {
    width: 100%;
    outline: none;
    border: none;

    font-size: 1em;
    padding: 9px 12px;

    background-color: rgb(58, 58, 58);
    color: rgb(197, 197, 197);

    border-radius: 4px;
    margin-bottom: 15px;
}

.subbtn {
    width: 100%;
    border-radius: 4px;

    outline: none;
    border: none;

    font-size: 0.8em;
    font-weight: bold;
    padding: 12px 28px;

    background-color: rgb(186, 37, 231);
    color: white;

    cursor: pointer;

    margin-top: 15px;
}

#ticketlist {
    background-color: rgb(32, 32, 32);
    padding: 20px;
    box-sizing: border-box;

    height: 100%;
}

#ticketlist h1 {
    margin: 0;
    padding: 0;

    color: rgb(165, 165, 165);
    font-size: 1em;
    font-family: sans-serif;
    font-weight: no;
    margin-bottom: 15px;
}

#sbar {
    width: 100%;
    display: flex;

    margin-bottom: 20px;

    border-radius: 4px;
}

#searchbar {
    display: flex;

    border-radius: 4px;
    overflow: hidden;

    flex-grow: 1;
}

#searchfield {
    width: 100%;
    outline: none;
    border: none;

    font-size: 1em;
    padding: 9px 12px;

    background-color: rgb(58, 58, 58);
    color: rgb(197, 197, 197);
}

#searchbtn {
    outline: none;
    border: none;

    font-size: 0.8em;
    font-weight: bold;
    padding: 6px 28px;

    background-color: rgb(186, 37, 231);
    color: white;

    cursor: pointer;
}

#newbtn {
    background-color: rgba(216, 22, 250, 0.2);
    color: rgb(219, 102, 255);

    display: block;
    margin-left: 15px;
    padding: 12px 32px;
    box-sizing: border-box;

    font-family: sans-serif;
    font-size: 0.8em;
    font-weight: bold;

    border-radius: 4px;

    cursor: pointer;
}

.dt_table {
    width: 100%;

    border: none;
    border-radius: 9px;
    overflow: hidden;
}

.dt_row {
    background-color: rgb(54, 54, 54);
    color: rgb(135, 135, 135);

    font-family: sans-serif;
    font-size: 1em;

    transition: 0.2s ease;
}

.dt_row:hover {
    background-color: rgb(45, 45, 45);
    cursor: pointer;
}

.dt_row_head {
    font-weight: bold;
    color: rgb(149, 149, 149);
    background-color: rgb(45, 45, 45);
}

.dt_row td {
    padding: 4px 6px;
    cursor: default;

    border-radius: 1px;
}

.dt_type {
    float: right;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    background-color: rgba(248, 62, 77, 0.6);
    color: rgba(255, 255, 255, 0.58);
    font-weight: bold;

    padding: 6px;
    box-sizing: border-box;

    font-size: 0.75em;
}

.dt_type_low {
    background-color: rgb(68, 68, 68);
    color: rgb(82, 194, 114);
}

.dt_id {
    color: gray;
}

.dt_tid {
    background-color: rgb(0, 0, 0, 0.12);
    padding: 6px;
    border-radius: 3px;
    box-sizing: border-box;
}

.dt_cid span {
    opacity: 0.75;
    text-decoration: none;
}

.dt_cid:hover {
    text-decoration: underline;
    cursor: pointer;
}

#editfield {
    background-color: rgb(41, 41, 41);
    padding: 15px;
    border-radius: 4px;
}

#editfield #editbar1 {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 15px;

    margin-bottom: 15px;
}

#editfield input[type="text"] {
    width: 100%;
    outline: none;
    border: none;

    font-size: 1em;
    padding: 9px 12px;

    background-color: rgb(58, 58, 58);
    color: rgb(197, 197, 197);

    border-radius: 4px;
    overflow: hidden;
}

#inTID {
    opacity: 0.7;
    text-align: center;
}

#edittext {
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    overflow: hidden;
}

#edittext #inText {
    width: 100%;
    border: none;
    outline: none;
    resize: none;

    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;

    background-color: rgb(58, 58, 58);
    color: rgb(197, 197, 197);

    margin: 0;
}

#btnbar {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px;
    margin-top: 25px;
}

#btnbar input {
    width: 100%;
    outline: none;
    border: none;

    font-size: 1em;
    padding: 12px 12px;

    background-color: rgb(175, 175, 175);
    color: rgb(48, 48, 48);
    font-weight: bold;

    border-radius: 4px;
    overflow: hidden;
    
    text-align: center;
}

#btnbar #subx {
    background-color: rgba(193, 41, 231, 0.3);
    color: rgb(219, 128, 255);
}

#btnbar #btnback {
    grid-column-start: 1;
    grid-column-end: 3;

    background-color: rgb(65, 65, 65);
    color: rgb(190, 190, 190);
}